@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Suranna&display=swap');
@import "tailwindcss";

.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.strips{
    background-image: linear-gradient(90deg,
    white 0%, white 6%,
    #fef6f6 6%, #fef6f6 48.5%,
    white 48.5%, white 49.5%,
    #fef6f6 49.5%, #fef6f6 94%,
    white 94%, white 100%
    );
}